.one
{
	width: 25%;
	float: left;
	background-color: green;
	margin-left: 2%;
	padding: 20px;
}

.two
{
	width: 25%;
	float: left;
	background-color: green;
	margin-left: 2%;
	padding: 20px;
}

.three
{
	width: 25%;
	float: left;
	background-color: green;
	margin-left: 2%;
	padding: 20px;
}

.four
{
	width: 25%;
	float: left;
	background-color: orange;
	margin-left: 2%;
	padding: 20px;
}

.five
{
	width: 25%;
	float: left;
	background-color: orange;
	margin-left: 2%;
	padding: 20px;
}

.six
{
	width: 25%;
	float: left;
	background-color: orange;
	margin-left: 2%;
	padding: 20px;
}

.seven
{
	width: 25%;
	float: left;
	background-color: yellow;
	margin-left: 2%;
	padding: 20px;
}

.eight
{
	width: 25%;
	float: left;
	background-color: yellow;
	margin-left: 2%;
	padding: 20px;
}

.nine
{
	width: 25%;
	float: left;
	background-color: yellow;
	margin-left: 2%;
	padding: 20px;
}

.ten
{
	width: 25%;
	float: left;
	background-color: purple;
	margin-left: 2%;
	padding: 20px;
}

.eleven
{
	width: 25%;
	float: left;
	background-color: purple;
	margin-left: 2%;
	padding: 20px;
}

.twelve
{
	width: 25%;
	float: left;
	background-color: purple;
	margin-left: 2%;
	padding: 20px;30